@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Nunito', sans-serif;
}

body {
    background: linear-gradient(90deg, #12c2e9, #c471ed, #f64f59);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

h1 {
    cursor: context-menu;
}

.text {
    cursor: context-menu;
    width: 350px;
    height: 50px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
    position: relative;
    top: 100px;
    padding: 15px 40px;
    background: rgba(255, 255, 255, 0.3);
    appearance: none;
    outline: none;
    border: none;
    border-radius: 5px;
}
button:hover {
    background: rgba(255, 255, 255, 0.6);
}

.main {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
.main .columnchart {
    position: relative;
    bottom: 20px;
    width: 150px;
    height: 95vh;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    gap: 5px;
}
.main .title {
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.main .chart {
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    /* border: 1px solid white; */
}

.main .chart .animatechart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
}

.main .chart .animatechart p {
    position: absolute;
    top: -20px;
    font-size: 16px;
}

@keyframes column {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}